

.compte_informations_personnelles_img_container{
    display: block;
    flex-direction: column;
    

}

.compte_informations_personnelles_img_container img{
    display: block;
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
}

.compte_informations_personnelles_form_container{
    
}
